<html>
    <head>
        <title>
            Home Page
        </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <h1><a href="/">Honda's Ecommerce</a></h1>
            <ul>
            <% if(user) { %>
            <li> <p> Welcome <%- user.name %> </p> </li>
            <li> <a href="/auth/logout">Log out</a> </li>
            <li> <a href="/books/all">Show books</a> </li>
                <% if (user.role == 'customer') { %>
                    <li> <a href="/cart/<%- cart.id %>">Show cart</a> </li>
                    <li> <a href="/order/<%- user.id %>">My orders</a> </li>
                <% } else { %>
                    <li> <a href="/items/add">Add item</a> </li>
                    <li> <a href="/items/store/<%-user.id%>">Offered items</a> </li>
                <% } %>
            <% } else { %>
            <li> <a href="/auth/login">Log in</a> </li>
            <li> <a href="/auth/signup">Sign up</a> </li>
            <% } %>
            </ul>
          </nav>