<%- include('./partials/header.ejs') %>

<form id="signupForm">
    <label for="picture">Profile Picture</label>
    <input type="file" name="picture" accept="image/*" onchange="previewImage(event)" />

    <div id="imagePreview"></div>

    <label for="email">Email address</label>
    <input type="text" name="email" required />
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>

    <label for="firstName">First Name</label>
    <input type="text" name="firstName" required />

    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" required />

    <label for="age">Age</label>
    <input type="number" name="age"/>

    <button id="signupButton">Sign up</button>
</form>

<div id="otpSection" style="display: none;">
    <label for="otp">Enter OTP</label>
    <input type="text" id="otpInput" name="otp" required />
    <button id="verifyOTPButton">Verify OTP</button>
    <div id="otpError" class="otp error" style="color: red; display: none;">Wrong OTP</div>
</div>

<script>
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const otpError = document.getElementById('otpError');
    const signupForm = document.getElementById('signupForm');
    const otpSection = document.getElementById('otpSection');

    function previewImage(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function() {
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.innerHTML = `<img src="${reader.result}" alt="Preview" style="max-width: 200px; max-height: 200px;" />`;
        }

        reader.readAsDataURL(file);
    }

    signupForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        emailError.textContent = '';
        passwordError.textContent = '';
        otpError.style.display = 'none';

        const formData = new FormData(signupForm);
        const values = Object.fromEntries(formData.entries());

        try {
            const response = await fetch('/auth/signup', {
                method: 'POST',
                body: JSON.stringify(values),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await response.json();

            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            } else if (data.case === 'otp') {
                otpSection.style.display = 'block';
                signupForm.style.display = 'none';
                otpSection.dataset.formData = JSON.stringify(values);
            } else if (data.case === 'success') {
                location.assign('/');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });

    const verifyOTPButton = document.getElementById('verifyOTPButton');

    verifyOTPButton.addEventListener('click', async () => {
        const otpInput = document.getElementById('otpInput').value;
        const formData = JSON.parse(otpSection.dataset.formData);

        try {
            const response = await fetch('/auth/otp', {
                method: 'POST',
                body: JSON.stringify({
                    otp: otpInput,
                    user: formData
                }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await response.json();

            if (data.case === 'success') {
                location.assign('/');
            } else if (data.case === 'wrong') {
                otpError.style.display = 'block';
            } else {
                console.log('OTP verification failed');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>

<%- include('./partials/footer.ejs') %>
